body {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455; 
        background-color: #fff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1, h2, h3, p {
    margin: 0;
}
a {
 text-decoration: none;
}

.title-sections {
    margin-bottom: 72px;
}
input {
    outline: transparent;
}
/* header */
.container {
 max-width: 320px;
 padding: 0 16px;
 margin: 0 auto;
}
.header-container {
 display: flex;

}
.header {
  
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
 
}
/* logo header*/

.logo-link{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
        margin-right: 76px;
        padding-top: 24px;
        padding-bottom: 24px;

}
.logo-studio-header {
        color: #2e2f42;
}

.open-mob-menu {
    border: none;
    background-color: transparent;
    padding-right: 4px;
}

.open-mob-menu-btn {
    fill: #2f2f37;
}

/* navigate */
.navigate {
  display: flex;
  margin-right: auto;
  align-items: center;
  

}
.navigate-list {
    /* display: flex; */
    display: none;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    
}
.navigate .current {
       color: #404bbf;
   }
.link-nav {
    font-weight: 500;
    color: #2e2f42;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 1.5;
    display: block;
    position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.current::after {
content: "";
width: 100%;
height: 4px;
border-radius: 2px;
background-color:#404bbf;
position: absolute;
left: 0;
bottom: -1px;
}
.navigate .link-nav:hover,
.navigate .link-nav:focus {
    color: #404bbf;
    text-decoration: none;

}
.navigate .link-nav:active{
    color: #404bbf;
    text-decoration: underline;
}

/* contacts */
 .contacts {
    font-style: normal;
    display: none;


 }
.contact {
    font-family: "Roboto", sans-serif;
    color: #434455;
    text-decoration: none;

}
.contact:hover, 
.contact:focus {
    color: #404bbf;
}
.contacts-list {
    display: flex;
    gap: 40px;


}
.contact {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

/* --------------mob menu--------------- */

.mob-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
   z-index: 100;

}
.navigate-list-mob .current {
    color: #4d5ae5;
}

.close-mob-menu {
    
    margin-left: auto;
    display: flex;
           width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        justify-content: center;
        align-items: center;
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 24px;
}
.menu-mob-box{
margin-top: auto;
}

.navigate-list-mob {
    
    
}
.mob-nav {
}
.link-nav-mob {
    display: block;
    font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        margin-bottom: 40px;
            

}
.navigate-item-mob {
   
}


.contacts-mob {
    margin-bottom: 48px;
    font-style: normal;
      
 
 

}

.contacts-list-mob {
    display: flex;
    flex-direction: column;
    gap: 24px;
  
}

.contacts-list-item {

}

.contact-mob {
    font-weight: 500;
    font-size: 20px;
     line-height: 24px; 
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #4d5ae5;
     
}
.mob-tel {
    color: #2e2f42;
}
.box-mob-social {

}
.mob-hover:hover,
.mob-hover:focus {
    background-color: #404bbf;
}

.social-media-mob {}

.social-list {
    
}

.social-list-mob {
    display: flex;
    gap: 40px;
}

.social-item-mob {

}

.social-link {}

.mob-hover {}

.social-icon {}

.social-item {}

/* ----------------------------- */

/* ---------main---------- */

.main-title {
    background-color: #2e2f42;
    /* padding-bottom: 188px;
    padding-top: 188px; */
    padding-bottom: 72px;
    padding-top: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-title-mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
                /* max-width: 1440px; */
               
    margin: 0 auto;
}
.bg-container {
}
    @media screen and (-vebkit-min-device-pixel-ratio: 2), 
    (min-resolution: 2dppx), 
    (min-resolution: 192dpi) {
     .main-title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),
              url(../images/background-title-mob-2x.jpg);
        }
    }


.title {
    font-weight: 700;
    /* font-size: 56px; */
    /* line-height: 107%; */
    color: #fff;
    text-align: center;
    letter-spacing: 0.02em;
    /* max-width: 496px; */
    /* padding-bottom: 48px; */
    padding-bottom: 72px;
    margin: auto;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    font-size: 36px;
    line-height: 40px; 
    line-height: 1.1;
    max-width: 216px;
  
   

}
.title-name {
    color:#2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: auto;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
    background: #404bbf;
}

/* -------------------------- */

/* our-adventages */
.our-advantages {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding: 96px 0;
  
}

.our-advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    /* gap: 24px; */
    }


.our-advantages-item {
    /* width: calc((100% - 3 * 24px) / 4); */
    

}
/* .box-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
display: flex;
justify-content: center;
align-items: center;

} */
.advantages-icon{
    display: none;


}

.title-name {
    /* font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px; */
    font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
    }
  
        

.text-main {
        /* line-height: 1,5; */
        font-weight: 500;
            font-size: 16px;
            line-height: 24px; 
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            
}
/* ------------------ */

/* ---------our-team ----------*/

.our-team {
     /* padding-top: 120px;
     padding-bottom: 120px; */
     padding: 96px 0;
}


.our-team-list {
     display: flex;
     flex-wrap: wrap;
     /* gap: 24px; */
     gap: 72px;
     justify-content: center;
 

}

.our-team-card {
     background-color: #fff;
     /* width: calc((100% - 24 * 3) / 4); */
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     border-radius: 0 0 4px 4px;
     box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
     background-color: #ffffff;
}

.our-team-card-text {
padding: 32px 0;


}
.title-name {

}
.our-team-title {

}
.title-name-team {
    text-align: center;
    font-weight: 500;
        font-size: 20px;
        line-height: 24px; 
        line-height: 1.2;
        margin-bottom: 8px;
        letter-spacing: 0.02em;
      

 
}
.text-name-team{
   text-align: center;
   margin-bottom: 8px;
   font-weight: 400;
    }


.social-link {
display: block;
background-color: #4d5ae5;
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
gap: 16px;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-hover:hover,
.team-hover:focus {
    background-color: #404bbf;

}
.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;

}
.social-icon {
fill: #f4f4fd;

}

.social-item {
    
    
}
/* ------------------ */

/* -----portfolio------ */
.portfolio {
    background-color: fff;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.our-portfolio-list {
display: flex;
flex-wrap: wrap;
gap: 48px 24px;
}

.portfolio-list-item {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-list-item:hover .portfolio-cover-text {
transform: translateY(0);
}
.portfolio-list-item:hover {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    font-size: 16px;
        line-height: 24px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background: #4d5ae5;
        height: 100%;
        padding: 40px 32px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-card-border {
border-bottom: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
padding: 32px 16px;
}
.title-name-portfolio {
padding-bottom: 8px;
text-align: start;
}

.text-main-portfolio {

}
.title-sections {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.our-team {
    background-color: #f4f4fd;
}
/* ------------------ */

/* footer */

.logo-studio-footer {
    color: #f4f4fd;
   
}
.text-footer {
    color: #f4f4fd;
    line-height: 1,5;
    letter-spacing: 0.02em;
    max-width: 264px;
    /* margin-bottom: 16px; */
    margin-bottom: 72px;

}
.background-footer {
    background-color: #2e2f42;
  padding: 96px 0;
 

}
.footer-form {

    display: flex;
}

.logo-link-footer {
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
    }

.social-media-footer {
    font-weight: 500;
        font-size: 16px;
        line-height: 24px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        text-align: center;

        
}
.box-footer-social {
 
}
.container-footer {
   display: flex;
   align-items: baseline;
   flex-wrap: wrap;
   justify-content: center;
 
}
.box-footer-logo {
/* margin-right: 120px; */


}
.footer-hover:hover, 
.footer-hover:focus {
    background-color: #31d0aa;
}
.box-footer-social {

}
 .social-list-footer  {
    gap: 16px;
    margin-bottom: 72px;
    
}

.container-form {

}


.footer-form {
    display: flex;
    /* gap: 24px; */
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.title-form-footer {
 
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
        text-align: center;
        /* margin-left: 24px; */
}

.footer-form-label {
    width: 100%;

}

.footer-input {
    border: 1px solid #ffffff;
font-weight: 400;
    font-size: 12px;
    line-height: 24px; 
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
        /* width: 264px; */
       width: 100%;
        height: 40px;
    margin-left: 0;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        color: #ffffff;
        padding-left: 16px;
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-input:hover {
    border: 1px solid #4d5ae5;
    
}

.subscribe-btn {
 
    display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        background: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        border-radius: 4px;
    }
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #31d0aa;
    
}

.subscribe-icon {
    fill: #ffffff;
   margin-left: 16px;
}

.container-form-footer {
    /* margin-left: auto; */


   
    
}

/* ------------------ */

/* ---------modal ----------*/

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.main-modal {
    /* width: 408px;
    min-height: 584px; */
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
    position: absolute;
    display: block;
    top: 24px;
    right: 24px;
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    justify-content: center;
    align-items: center;
   padding: 0;
   cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.close-icone {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus .close-icone {
    fill: #ffffff;
}
.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-form {

}
.modal-fild {
    margin-bottom: 8px;
}
.form-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        height: 40px;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: transparent;
}

.form-input:focus {
    border-color: #4D5AE5;
}
.form-input:focus + .modal-icone {
    fill: #4d5ae5;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px; 
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        
}
.model-fild-wrap {
    position: relative;
}

.modal-icone {
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    min-height: 120px;
    font-size: 12px;
    line-height: 14px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        padding: 8px 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            resize: none;
            outline: transparent;
            width: 100%;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
           display: block;
         background-color: transparent;
         
}
.modal-textarea:focus {
border: 1px solid #4d5ae5;

}
.modal-fild-comment {
    margin-bottom: 16px
}
.fild-checkbox {

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    margin-bottom: 24px;

}
.modal-check-text {
    font-size: 12px;
    line-height: 14px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;


}
.check-desk {
    width: 231px;
}
.checkbox-text {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    align-items: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.modal-check-text span {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}
.send-btn{
    display: block;
    margin: 0 auto;
    font-weight: 500;
        font-size: 16px;
        line-height: 24px; 
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        border-radius: 4px;
            padding: 16px 32px;
            min-width: 169px;
            height: 56px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
                background: #4d5ae5;
                border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     cursor: pointer;
}
.send-btn:hover,
.send-btn:focus {
    background-color: #404bbf;
}




.privacy-policy {
        line-height: 16px;
            line-height: 1.33;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #4d5ae5;
            margin-left: 4px;
}
/* ---------------------------------- */
/* -----------tab------------------ */


@media screen and (min-width: 768px) {
/* ---------------header------------------------ */
.mob-menu{
    display: none;
}


.open-mob-menu {
    display: none;
}
.navigate-list {
    display: flex;
    padding: 0;
}
.contacts {
    display: flex;
}
.contacts-list {
    /* display: block; */
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-top: 16px;

}

.contact {
    padding-top: 0;
        padding-bottom: 0;
        font-weight: 400;
            font-size: 12px;
            line-height: 14px; 
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #434455;
}
/* ---------------------------------------------- */
        /* -------------main-title--------------- */

.main-title{
    padding-bottom: 112px;
    padding-top: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-title-tab.jpg);
        }

        @media screen and (-vebkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
            .main-title {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-title-tab-2x.jpg);
            }
        }

.title{
    padding-bottom: 36px;
    font-size: 56px;
    line-height: 60px; 
    line-height: 1.07;
    max-width: 496px;

}

    
    /* -------------adventages------------ */
.container {
            max-width: 768px;
        }
.our-advantages-list {
        gap: 72px 24px;
    }
.our-advantages-item {
            width: calc((100% - 24px) / 2);
}

.title-name {
   
    text-align-last: left;
}
/*---------------- team------------------ */
.our-team-list {
gap: 72px 24px;
}
.our-team-card {
    width: calc((100% - 24) / 2);
}

/* --------------portfolio-------------- */
.portfolio-list-item {
    width: calc((100% - 24px) / 2);
}
.our-portfolio-list{
    gap: 72px 24px;

}

.portfolio_image {
    width: 356px;
}

/* --------------footer------------- */

  
.container-footer {
   padding-left: 108px;
    gap: 72px 24px;
    justify-content: start;
}
.logo-link-footer {
justify-content: start;
}
.social-media-footer {
    text-align: left;

}
.text-footer {
    margin-bottom: 0;
}
 .social-list-footer {
    margin-bottom: 0;
}
.title-form-footer {
    text-align: left;
}
.footer-form {
    gap: 24px;
    flex-wrap: nowrap;
}
.footer-input {
    width: 264px;
}
.text-footer {
    max-width: 264px;
}

/* modal */

.main-modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
    min-height: 584px;
}
.check-desk {
    width: 100%;
}

}




/* ----------------------------------------- */
/* -------------descktop----------------- */


@media screen and (min-width: 1158px) {

    /* ---------------header------------------------ */
    .container {
        /* padding-left: 156px;
            padding-right: 156px; */
    }
    .header-container {
        /* width: 1158px;
        padding-left: 156px;
            padding-right: 156px; */
        }
    .contacts-list {
        flex-direction: row;
        gap: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin: 0;
    
    }
    .contact {
        font-weight: 400;
            font-size: 16px;
        
            line-height: 24px; 
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
    }
    
    
        /* ---------------------------------------------- */

    /* -------------main-title--------------- */
.main-title {
        padding-bottom: 188px;
        padding-top: 188px;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), 
        url(../images/background-title-desk.jpg);
    }

                @media screen and (-vebkit-min-device-pixel-ratio: 2),
                (min-resolution: 2dppx),
                (min-resolution: 192dpi) {
                    .main-title {
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)),
                            url(../images/background-title-desk-2x.jpg);
                    }
                }

.title {
        padding-bottom: 48px;
}

    /* -------------adventages------------ */
.container {
            max-width: 1158px;
            padding: 0 15px;
            margin: 0 auto;
        }
.our-advantages {
            padding-top: 120px;
            padding-bottom: 120px;
        }  
.our-advantages-list {
            gap: 24px;
        }
.our-advantages-item {
      width: calc((100% - 3 * 24px) / 4);
  }
        
.box-icon {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 100%;
        height: 112px;
        margin-bottom: 8px;
        background-color: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
.advantages-icon {
    display: flex;
}

.title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    line-height: 1.2; 
}
.text-main {
font-weight: 400;
}



/*---------------- team------------------ */

.our-team {
    padding-top: 120px;
     padding-bottom: 120px;

}
.our-team-list {
    gap: 24px;
}
.our-team-card {
    width: calc((100% - 24 * 3) / 4);
}

/* ----------portfolio----------- */
.portfolio{padding: 120px 0;}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}
.our-portfolio-list{
    gap: 48px 24px;
}

.title-name-portfolio {
    font-weight: 500;
        font-size: 20px;
        line-height: 24px; 
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

/* ---------------footer---------------- */
.container-footer{
    gap: 0;
}
.container-form-footer {
    margin-left: auto;
}
.box-footer-social {
    margin-left: 120px;
}
.footer-input {
    max-width: 264px;
}

}